@custom-media --breakpoint-not-small screen and (max-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   TEXT DECORATION

*/

.under  { text-decoration: underline; }
.none   { text-decoration: none; }


@media (--breakpoint-not-small) {
  .under-ns  { text-decoration: underline; }
  .none-ns   { text-decoration: none; }
}

@media (--breakpoint-medium) {
  .under-m  { text-decoration: underline; }
  .none-m   { text-decoration: none; }
}

@media (--breakpoint-large) {
  .under-l  { text-decoration: underline; }
  .none-l   { text-decoration: none; }
}

